fieldset{
	width: 750px;
	margin: 10px auto;
	color: #444;
	border: 5px solid #ccc;
	font-family: Helvetica;
	padding: 15px;
}

h1{
	text-align: center;
}

p.sub-titulo{
	font-size: 20px;
}

.direita{
	text-align: right;
    margin: 5px 0;
}

.center{
	text-align: center;
}

.bloko{padding:0 2%; width: 100%; border: 1px solid black}
.tam12{font-size: 13px}
.maior{text-transform: uppercase}