h1,h2,h3,h4{margin-top: 0}


.navbar-brand{padding: 0}
.logo{margin: 10px 10px 0; width: 170px}
.btn{font-weight: bold}
.navbar-toggle{background: forestgreen; border: none}
.total{width: 100%}
.left{float: left}
.right{float: right}
a:hover{cursor: pointer}
hr{border-top: 1px solid #31708f; margin: 0}


.user-image{float: left}
.area_img {padding: 12px 0}
.area_img div{    width: 175px;    margin-left: 12px;  }
.area_img div p{color: white;text-align: left;line-height: 15px;}
.area_img div span{font-size: 25px;color: green;position: relative;top: 4px;}
.area_img div small{font-size: 11px;}
.navbar-side .nav > li {float: left;width: 100%;}
#page-inner { width: 100%; margin: 0; background: none; padding: 0}
.sidebar-collapse .nav > li > a {color: #fff;}
.sidebar-collapse .nav > li > a:hover {color: #fff; background: #70b4bf}
.sidebar-collapse .nav > li > a:focus {color: #fff; background: #70b4bf}
.panel{border-top: 3px solid #95b5d9;}
.panel-heading {font-size: 18px;    background-color: white!important;     border-color: #eee;}
.panel-heading i{margin-right: 6px }
#page-wrapper{background-color: #ecf0f5!important; }
.btn{border-radius: 0;font-size: 12px;font-weight: normal;}
.panel-default {border-color: #eee;}
.table-responsive tr td{    vertical-align: middle!important;}
.urgente{background-color: #ffe5cc}

.left{float: left}
.btn.right{float: right}
.img_profile{width: 60%}

.form-control{    border-radius: 0;box-shadow: none;}


.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {border: 1px solid #eee;}


.area_img01{margin-bottom: 25px}

.area_img01 .btn{margin: 10px auto}

.up_imagens{margin-bottom: 35px}

/*Botões =================================*/
.btn-success {background-color: #00a65a;border-color: #008d4c;}
.btn-success:hover, .btn-success:active, .btn-success.hover {background-color: #008d4c;}

.btn-danger {background-color: #dd4b39;border-color: #d73925;}
.btn-danger:hover, .btn-danger:active, .btn-danger.hover {background-color: #d73925;}

/*Botão =================================*/
.ck-button  input {margin-right:100px;}
.ck-button {margin:8px 6px;background-color:#EFEFEF;border-radius:0;overflow:auto;float:left;}
.ck-button  {float:left;}
.ck-button  span {text-align:center;padding:5px 10px;display:block;border-radius:0;}
.ck-button  input {position:absolute;top:-20px;display: none;}
.ck-button input:hover + span {cursor: pointer;}
.ck-button input:checked + span {background-color:#1b54b8;color:#fff;}
.ck-button input:checked:hover + span {color:#fff;}


.cinza{padding: 10px 18px;border-radius: 3px; margin-bottom: 11px;}
.cinza.pergunta{background: #e8f7ff;border: 1px solid #abbff1; margin-bottom: 11px;}
.cinza.resposta{background: #e8fff0;border: 1px solid #b5f0a1; width: 98%; margin-bottom: 17px;}

.img_area { height: 10px;    padding-bottom: 51%;    overflow: hidden;}
